:root {
    --width: 350px
}

body {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    height: 50px;
    max-height: 50px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;;
}

.logo {
    width: 250px
}

.container-grid {
    position: relative;
}

.grid {
    width: var(--width);
    height: var(--width);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: calc(var(--width)/15);
    height: calc(var(--width)/15);;
}

.invader {
    background-image: url("images/invader.png");
    background-size: cover;
    border-radius: 10px;
}

.shooter {
    background-image: url("images/shooter.png");
    background-size: cover;
    
}

.destroyed {
    background-image: url("images/shooter-destroyed.png");
}

.laser {
    background-image: url("images/laser.png");
    background-size: cover;
    
}

.boom {
    background-image: url("images/boom.png");
    background-size: cover;
    
}

.black {
    color: black
}

.green {
    color: green;
}

.button {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: orange;
    border: red 1px solid;
    opacity: 0.7;
    border-radius: 50%;
    color: white;
}

.left {
    top: calc(var(--width)/1.25);
    right: calc(var(--width)/1.25);

}

.right {
    top: calc(var(--width)/1.25);
    right: calc((var(--width)/8.3));
 
}

.shoot {
    top: calc((var(--width)/1.5));
    right: calc((var(--width)/25));

}

@media screen and (max-width: 400px) {
    .logo {
        width: 200px;
    }

    p {
        font-size: 10px;
    }

    :root {
        --width: 250px;
    }

    h1 {
        font-size: 20px;
    }

  }