:root {
    --width: 350px
}

body {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    height: 50px;
}

p.highscore-board {
    font-size: 16px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;;
}

.logo {
    width: 250px
}

.grid {
    width: var(--width);
    height: var(--width);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: calc(var(--width)/15);
    height: calc(var(--width)/15);;
}

.invader {
    background-image: url("images/invader.png");
    background-size: cover;
    border-radius: 10px;
}

.shooter {
    background-image: url("images/shooter.png");
    background-size: cover;
    
}

.destroyed {
    background-image: url("images/shooter-destroyed.png");
}

.laser {
    background-image: url("images/laser.png");
    background-size: cover;
    
}

.boom {
    background-image: url("images/boom.png");
    background-size: cover;
    
}

.button {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    border: red 1px solid;
    opacity: 0.7;
    border-radius: 50%;
    color: white;
}

.left {
    bottom: 20px;
    left: 20px;
}

.right {
    bottom: 20px;
    right: 40px;
}

.shoot {
    bottom: 80px;
    right: 20px;
}

  @media screen and (max-width: 479px) {
    .button {
        display: block;
    }

    .logo {
        width: 200px;
    }

    .results {
        height: 60px;
        font-size: 18px;
    }

    p.highscore-board {
        font-size: 12px;
    }

    p.instructions {
        display: none;
    }

    :root {
        --width: 250px;
    }

  }

@media screen and (max-width: 360px) {
    .button {
        display: block;
    }

    .logo {
        width: 100px;
    }

    .results {
        height: 30px;
        font-size: 12px;
    }

    p.highscore-board {
        font-size: 10px;
    }

    p.instructions {
        display: none;
    }

    :root {
        --width: 250px;
    }

  }